.loginText {
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    font-size: 30px;
    margin-top: 500px;
    margin-bottom: -600px;
}

.btn {
    -webkit-transition: all .075s ease-in-out;
    -moz-transition: all .075s ease-in-out;
    -o-transition: all .075s ease-in-out;
    transition: all .075s ease-in-out;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}